<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClustertruckSpeedrunMod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClustertruckSpeedrunModPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClustertruckSpeedrunMod.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSpeedometer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTruckColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TruckColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="UnlockFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetFPS" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="EnableFPSCounter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableJump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertSprint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeedUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableLivesplit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitByLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitResetInMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfineCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTimerFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableRandomiser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTruckCannon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSurfingShoes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSpacebarNextLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSpacebarCreditSkip" serializeAs="String">
                <value>False</value>
            </setting>
        </ClustertruckSpeedrunMod.Properties.Settings>
        <ClustertruckSpeedrunModPatcher.Properties.Settings>
            <setting name="ClustertruckPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSpeedometer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTruckColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TruckColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="UnlockFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetFPS" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="EnableFPSCounter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableJump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvertSprint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTimer" serializeAs="String">
                <value>False</value>
            </setting>
        </ClustertruckSpeedrunModPatcher.Properties.Settings>
    </userSettings>
</configuration>